Source: llxfederation
Section: python 
Priority: optional
Maintainer: Lliurex Team <lliurex@gva.es>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-setuptools,
 python3-all,
 pybuild-plugin-pyproject
Standards-Version: 4.6.2
Homepage: https://lliurex.net 
#Vcs-Browser: https://salsa.debian.org/debian/llxfederation

Package: python3-llxfederation
Architecture: all
Depends: python3-ldap,
	 python3-msal,
	 python3-murmurhash,
	 python3-bson,
	 python3-bcrypt,
	 python3-n4d-client,
	 python3-yaml
Description: Python library to connect different backends
 Connect with ldap library

Package: python3-gvaauthupdate
Architecture: all
Depends: 
	 ${shlibs:Depends},
	 ${misc:Depends},
Description: Python library to connect different backends
 Connect with ldap library

Package: llxfederation-bin
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3-yaml,
 python3-llxfederation
Description: Backend for validating with federation service
 Validate with GVA service


Package: n4d-llxfederation
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3-n4d-client,
 python3-llxfederation
Description: N4d plugin to cache logins
 Cache for validation users on federation service

Package: federation-validation
Architecture: all
Multi-Arch: foreign
Depends: lliurex-gva-gate,
	 cdc-mapper-data,
	 llxfederation-bin,
	 python3-gvaauthupdate
Description: Enable validation with gva federation
 Configure system to enable validation with federation. This package not
 include server configuration
